/**********SAME STYLES*********/

html {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

body {
    min-width: 375px;
    max-width: 375px;
}

.headerButton {
    font-size: 2em;
    text-align: center;
}

.footerButton {
  border: 1px solid black;
  height: 50px;
}

/*******END SAME STYLES*******/

/*STYLING FOR HEADER SECTION*/

.titleBar {
    font-family: 'LachataNormal';
    text-align: center;
    padding-top: .5em;
    margin-bottom: .25em;
    height: 40px;
}

#topBar {
    margin: 0 1.5em 0 2em;
    align-content: center;
}

#addAppointmentButton {
    display: inline-block;
    font-size: 1.2em;
    vertical-align: -5px;
}

hr {
    margin: 0 .5em 0 .5em;
    color: #C0C0C0;
}

/*STYLING FOR EVERYTHING BELOW HEADER ON MAIN PAGE*/

.mainContainer {
    padding: 0 1em 3em 1em;
}

/*STYLING FOR SEARCH BAR*/

input#searchBar {
    width: 99.5%;
    margin-top: .7em;
    height: 2em;
}

.fa-search {
    position: absolute;
    margin-left: 320px;
    margin-top: 1.35em;
}

/*STYLING FOR FIRST DAY OF BODY*/

.appointmentGroup:before,
.appointmentGroup:after {
    content: "";
    display: table;
}
.appointmentGroup:after {
    clear: both;
}
.appointmentGroup {
    clear: both;
    *zoom: 1;
    margin-top: 3em;
    padding: .5em;
    border: 1px solid black;
}
.rightBox {
    float: right;
    width: 63%;
    border: 1px solid red;
}
.leftBox {
    float: left;
    width: 30%;
    border: 1px solid red;
}

/*STYLING FOR DIVIDER*/

div.dayDivider {
    width: 100%;
    height: .5em;
    border-bottom: 1px solid black;
    text-align: center;
    padding-top: 1.5em;
    margin-top: 1em;
}

div.dayDivider > span {
    font-size: 1em;
    background-color: white;
}


/* APPT SAME STYLES*/

.label { /*labels on top of the boxes in both forms*/
    color: #C0C0C0;
    margin-left: 8px;
}

.appt-form { /*all of the input boxes in both forms*/
    display: block;
    height: 30px;
    width: 350px;
    margin-bottom: 1em;
    border-style: solid;
    border-radius: 3px;
    color: #C0C0C0;
    margin-left: 8px;
}

.fa-chevron-left { /* left arrow icon in both forms */
  color: rgb(133, 133, 133);
  margin-left: 10px;
  padding-right: 2em;
}

.fa-calendar { /*same calendar icon in both forms*/
  color: #C0C0C0;
  position: absolute;
  margin-left: 290px;
  margin-top: 2em;
}

.fa-map-marker { /*same map marker in both forms*/
  color: #C0C0C0;
  position: absolute;
  margin-left: 285px;
  margin-top: 2em;
}

/*END APPT SAME STYLES*/

/*NEW APPT STYLES*/

#save-new-appointment{
  background-color: rgb(8, 226, 186)
}

.save-appointment {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  margin-left: 25%;
}

.new-appt-style {
  font-size: 1.5em;
  color: rgb(133, 133, 133);
  text-align: left;
}


/* END APPT STYLES*/


/*EDIT APPT STYLES*/

.edit-appt-style {
  font-size: 1.5em;
  color: rgb(133, 133, 133);
  text-align: left;
}

.footerButtonHalf {
  padding: none;
  margin: none;
  width: 50%;
  height: 100%;
  display: inline-block;
}


#edit-save-button{
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  margin-left: 35%;
}

#edit-delete-button{
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  margin-left: 35%;
}


#delete-edit-appointment{
  background-color: red;
  margin-right: -5px;
}

#save-edit-appointment{
  background-color: rgb(8, 226, 186);
}

/*END EDIT APPT STYLES*/
